.texto-nome-loja{
    color: darkblue;
    background-color: darkred;
    text-align: center;
}
h2{
    color: darkblue;
    background-color: darkred;
    text-align: center;

}
div{
    text-align: center;
}

p{
    text-align: center;
}
body{
    background-image: url("images/equipe1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}