*{
    margin:0;
    padding: 0;
}

body{
    font-family: 'Source Code Pro', monospace;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/*Estilos do cabeçalho*/

.header-labetube{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    background-color: rgb(235, 78, 21);
    position: fixed;
    top:0;
    width: 100vw;
}
.bottom-home{
    height: 40px;
    width: 40px;
    margin: 80px;
    margin-left: 0;

}
/*Estilos de todos titulos da pagina*/
.labetube-title , .video-title{
    color: #050202;
}

/*Estilos do campo de busca do cabeçalho*/
.search-input{
    border:1px solid grey;
    border-radius: 2px;
    padding: 10px;
}

/*Estilos do conteudo principal da pagina*/
.main-flexbox{
    height: 582px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
.card-video{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    
}

.video{
    margin-bottom: 200px 300px 200px 200px;
    height: 550px;
    margin-left: 0px;
}

.video-navbar{
    overflow: auto;
    height: 400px;
    margin-top: 100px;
}

.video > .video-views-container > .video-views{
    color: grey;
}

/*Estilos do titulo do video*/
.video-title{
    margin-bottom: 10px;
    margin-left: 15px;
    font-size: 15px;
}

/* .video-titles-contaien{
    display: flex;
    justify-content: column;
} */

.video-img-hover{
    height: 150px;
    width: 200px;
}

.bottom > .bottom-title{
    height: 60px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 100px;
    background-color: rgb(88, 88, 88);
    color: white;

    
}
